@font-face {
    font-family: Grovana;
    src: url('./components/fonts/Grovana-MediumRound.ttf');
    }

.HomeFont {
    font-family: Grovana;
    text-align: center;
    font-size: 50px;
}

.HomeSubFont {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}