@font-face {
    font-family: Grovana;
    src: url('./components/fonts/Grovana-MediumRound.ttf');
    }

.DocFont {
    font-family: Grovana;
    text-align: center;
    font-size: 50px;
    color: #D9A3A3;
}

.DocSubFont {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #D9A3A3;
}

.DocButton {
    text-align: center;
}

.AboutMeImage {
    width: 95%;
    height: 95%;
}
